*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

:root{

    --color-principal: rgba(4, 4, 29, 0.733);
    --color-secundario: rgb(0, 0, 32);
    --color-detalles: #1afd;
    --color-botones-hover: rgb(51, 183, 245);
    --color-botones: rgb(1, 43, 71);
    --letras-hover: #1af9;
}

body{
    background-color: var(--color-principal);
}

h1{
    font-size: 3em;
}

h2{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2em;
}

p{
    font-size: 1.2em;
}

/*--------------------------------------- HEADER ---------------------------------------*/

.header{

    background-color: var(--color-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 10vh;
}


.header__open-nav-button{

    color: var(--color-detalles);
    font-size: 3rem;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
}

.header__open-nav-button:hover{

    color: var(--color-botones-hover);
}

.header__checkbox{

    display: none;
}

.navbar{

    display: none;
    position: absolute;
    height: 90vh;
    width: 100vw;
    top: 10vh;
    background-color: var(--color-secundario);
    z-index: 2;
    
}

.ul__nav{

    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.boton__nav-link{

    background-color: var(--color-botones);
    color: var(--color-botones-hover);
    padding: 10px 15px;
    font-weight: 600;
    font-size: 25px;
    border-radius: 10px;
}

.boton__nav-link:hover{

    background-color: var(--color-botones-hover);
    color: var(--color-botones);
}

.header__checkbox:checked ~ .navbar{

    display: flex;
}

.logo__container{

    margin: 15px 0;
}

.logo__nombre{

    max-width: 100%;
    width: 64px;
    margin: 10px 20px ;
    background-color: var(--color-detalles);
    border-radius: 10px;
    padding: 8px 10px;
}

/* --------------------------------------- INTRO --------------------------------------- */

.intro{

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    height: 90vh;
    background-image: url(../img/tattoo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro__color-box{

    position: absolute;
    top: 0;
    right:0;
    background-color: var(--color-principal);
    height: 100%;
    width: 100%;
}

.boton__link{

    background-color: var(--color-botones);
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 22px;
}

.boton__link:hover{

    background-color: var(--color-botones-hover);
    color: var(--color-botones);
}

.intro h1, h2, p, a{

    z-index: 1;
}

/* SERVICIOS */

.services{
    display:none;
}

.tatuador{

    display: none;
}

.pedidos{

    display: none;
}

.footer{

    display: none;
}