*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

:root{

    --color-principal: #003;
    --color-secundario: #004;
    --color-detalles: #1af;
    --color-botones-hover: #003;
    --color-botones: #04a;
    --letras-hover: #1af;
}

body{
    background-color: var(--color-principal);
}

h2{
    margin-bottom: 1rem;
    text-align: center;
}

header{
    width: 100%;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo__container{
    
        height: 15svh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .logo__link{
    
            padding: 10px 15px 5px 15px;
            border: 4px solid #fff;
            transition: transform 0.5s ease, border 0.5s ease;
    
            .logo__nombre{
        
                height: 100%;
                width: 100%;
                font-weight: 900;
                font-size: 25px;
                text-decoration-line: underline overline;
                transition: color 0.5s ease;
            }
        }

        .logo__link:hover{

            transform: scale(1.1);
            border: 4px solid var(--color-botones);
            transition: transform 0.5s ease, border 0.5s ease;

            .logo__nombre{

                color: var(--color-botones);
                transition: color 0.5s ease;
            }
        }
    }
    
    .navbar{
    
        width: 100%;
        height: 10svh;
        display: flex;
        justify-content: center;
    
        .ul__nav{
    
            width: 100%;
            display: flex;
            justify-content: space-around;
    
            .link__boton__nav{
    
                background-color: var(--color-secundario);
                border-bottom: 3px solid #fff;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 1.3rem;
                transition: background-color 0.5s ease, border-bottom 0.5s ease;
    
                .boton__nav{
    
                    color: #fff;
                    transition: color 0.5s ease;
                }
            }
            
            .boton__resaltado{
    
                background-color: var(--color-botones);
                transition: background-color 0.5s ease, border-bottom 0.5s ease;  
            
                .boton__nav{
    
                    transition: color 0.5s ease;
                }
            }
            
            .link__boton__nav:hover{
    
                background-color: var(--color-botones-hover);
                border-bottom: 3px solid var(--color-detalles);
                transition: background-color 0.5s ease, border-bottom 0.5s ease;
    
                .boton__nav{
    
                    color: var(--letras-hover);
                    transition: color 0.5s ease;
                }
            }
        }
    }
}

.intro{

    background-image: url(../img/tattoo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75svh;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    a{
        padding: 10px 10px;
        border-radius: 5px;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: var(--color-botones);
        transition: color 0.5s ease, background-color 0.5s ease;
    }

    a:hover{

        background-color: var(--color-botones-hover);
        color: var(--letras-hover);
        transition: color 0.5s ease, background-color 0.5s ease;
    }
}

.services{

    background-color: var(--color-secundario);
    padding: 0.5rem;
}

.tatuador{

    background-color: var(--color-principal);
    padding: 0.5rem;

    .container__tatuador{

        width: 100%;
        border: #fff solid 3px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;

        img{
            width: 15rem;
            height: 15rem;
            padding: 1rem;
            border-radius: 30px;
            align-self: center;
        }

        .datos__tatuador{

            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            h3{
                text-align: center;
                padding: 0.5rem;
            }

            .mas__datos{

                width: 60%;
                padding: 0.5rem;
                text-align: left;
                display:flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

.pedidos{

    background-color: var(--color-secundario);
    padding: 0.5rem;

    form {
        border: solid 3px #fff;
        border-radius: 20px;
        padding: 0.5rem;
    }
}

footer{

    background-color: var(--color-principal);
    width: 100%;
    padding: 0.5rem;
    text-align: center;

    h3{
        margin-bottom: 0.5rem;
    }

    .container__contactos{

        padding: 0.5rem;
        width: 100%;

        .contactos{

            margin: 0.3rem 0;
            width: 100%;

            h5{
                display:inline-block;
            }
        }
    }

    .social{

        padding: 0.5rem;
        width: 100%;
    }

    h4{
    
        display: inline-block;
        margin: 0 10px;

        a:hover{
    
            color: var(--color-detalles)
        }
    }
}